/* Color Palette
https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9
#2C3639 - color 1
#3F4E4F - color 2
#A27B5C - color 3
#DCD7C9 - color 4
*/

/* Global styles 
------------------------------------*/
/* body {
  /* background: #4e6e81; 
} */
html {
  background-color: #3f4e4f;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #dcd7c9;
  margin-top: -20px;
  border: solid 1px #a27b5c;
}
nav a {
  padding: 15px;
  display: inline-block;
  width: 240px;
  font-family: "Cairo Play", semi;
  font-size: 1.2em;
  background-color: #dcd7c9;
  color: #a27b5c;
}
nav a:hover {
  background-color: #a27b5c;
  color: #dcd7c9;
  white-space: nowrap;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.column-narrow {
  width: 30%;
  height: auto;
  float: left;
  padding-right: 3%;
  min-height: 175px;
  border-top: #3f4e4f 2px solid;
  padding-top: 10px;
  /* border: solid 2px; */
}
.column-wide {
  /* border: solid 2px; */
  width: 70%;
  float: left;
  min-height: 225px;
  border-top: #3f4e4f 2px solid;
  padding-top: 10px;
}
.profile-img {
  border-radius: 50%;
  width: 100%;
  /* width: 300px; */
  /* float: left; */
  /* margin-right: 30px; */
}
h1,
h2,
h3 {
  font-family: "Cairo Play", semi;
  margin: 0;
  font-weight: 600;
  line-height: 1.2em;
}
h1 {
  font-size: 3.2em;
  /* border: solid 2px; */
}
h2 {
  font-size: 2em;
  padding-bottom: 10px;
  /* border: solid 2px; */
  /* margin-top: 0; */
}
h3 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: -3px;
  /* border: solid 2px; */
  line-height: 1.2em;
}
p {
  margin: 2px;
}
p,
li {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.3em;
  /* border: solid 1px; */
}

span {
  font-size: 20px;
}

/* Header & Footer 
------------------------------------*/
header {
  padding-top: 20px;
}
header,
footer {
  background-color: #3f4e4f;
  color: #dcd7c9;
}

footer {
  text-align: center;
}

.contact-info a {
  color: #dcd7c9;
  font-size: 1.3em;
  padding: 10px;
  display: inline-block;
}
.contact-info a:hover {
  color: #a27b5c;
}

#copyright {
  font-size: 1em;
}

/* Work Experience
------------------------------------*/
#WorkExperience {
  background-color: #dcd7c9;
  /* color: #2c3639; */
}

/* Education
------------------------------------*/
#Education {
  background-color: #a27b5c;
  /* color: #2c3639; */
}

/* ------------------------------------
for MOBILE anything less than 650 px decrease size of fonts to fit page properly
------------------------------------*/
@media screen and (max-width: 649px) {
  html {
    background-color: #3f4e4f;
    box-sizing: content-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .profile-img {
    /* display: block; */
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
  }

  .content-wrap {
    padding: 25px;
    overflow: hidden;
  }
  .column-narrow {
    display: block;
    width: 100%;
    margin: 0;
    height: 0;
    min-height: 83px;
    float: none;
    padding-right: 3%;
    border-top: #3f4e4f 2px solid;
    padding: 10px 0 0 0;
  }
  .column-wide {
    width: 100%;
    float: none;
    min-height: auto;
    border-top: #3f4e4f 2px solid;
    padding-top: 10px;
    padding: 10px 0 0 0;
  }
  .column-narrowm {
    min-height: 175px;
  }
  .column-widem {
  }

  h1 {
    font-size: 2.5em;
    /* border: solid 2px; */
  }
  h2 {
    font-size: 1.5em;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: -3px;
  }
  p {
    margin: 0;
  }
  p,
  li {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.2em;
  }
  span {
    font-size: 14px;
  }
  #copyright {
    font-size: 0.7em;
  }
}

/* For nav bar resizing if less than 1000px collapse */
@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  header {
    padding-top: 0px;
  }
}
